#vueApp{
    width: 100%;
    user-select: none;
}
.btn:focus{
    box-shadow: none !important;
}
#loading{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: #fff;
}
#loading .loading-box{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -12px;
    margin-left: -12px;
}
.hide{
    display: none;
}
.navbar{
    background-color: #d2cab0;
    width: 100%;
    position: fixed !important;
    z-index: 10;
}
.navbar .siteTitle{
    font-size: 1.2rem;
    color: rgb(76,86,104);
}
.navbar .siteTitle a{
    color: #262626;
    text-decoration-line: none;
    box-shadow: #70575c -11px 1px 0px 0px;
}
.alertBox{
    user-select: none;
    position: fixed;
    z-index: 1056;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all 0.2s ease-in;
}
.main-container{
    position: absolute;
    background-color: #eae2c9;
    top: 56px;
    width: 100%;
    height: calc(100vh - 126px);
    user-select: none;
}
.demo-container{
    background-color: #ffffff70;
    user-select: none;
    overflow-y: scroll;
    display: flex;
    height: calc(100vh - 126px);
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-content: flex-start;
    align-items: flex-start;
}
.demo-container::-webkit-scrollbar{
    width : 10px;
    height: 1px;
}
.demo-container::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #b67015;
}
.demo-container::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed;
}

/* ArtifactsBox */
.ArtifactsBox{
    margin: 15px 10px;
    width: 10rem;
    font-size: 0.8rem;
    transition: ease 0.2s all;
    overflow: hidden;
    border: none !important;
    background-color: rgb(233,229,220) !important;
}
.ArtifactsBox .card-body:first-child{
    background-image: linear-gradient(to bottom right,#6A5453,#E4AB52);
    border-bottom-right-radius: 25px;
    color: #fff;
    padding: 10px 15px;
}
.ArtifactsBox .card-body:first-child .badge{
    background-color: rgb(57,68,79);
}
.ArtifactsBox .card-body:last-child{
    background-color: rgb(255, 231, 187);
    padding: 5px 15px;
}
.ArtifactsBox ul li{
    font-weight: bold;
    color: rgb(76,86,104);
    background-color: rgb(233,229,220);
}

#radarChartBox,#radarChartBox2{
    margin: 10px auto;
    width: 280px;
    height: 280px;
}
#mobileShow{
    position: absolute;
    top: 10px;
    right: 10px;
}
@media screen and (max-width:480px) {
    .ArtifactsBox{
        width: calc(50% - 20px);
    }
    ::-webkit-scrollbar{
        display: none;
    }
}
@media screen and (max-width:819px){
    .ArtifactShowBox{
        display: none;
    }
}
@media screen and (min-width:820px){
    #mobileShow{
        display: none;
    }
    .navbar .siteTitle{
        margin-left: 50px;
    }
    .main-container{
        padding: 0 50px;
    }
    .ArtifactShowBox{
        overflow-y: scroll;
        position: fixed;
        padding-top: 20px;
        top: 56px;
        right: 50px;
        width: 320px;
        height: calc(100% - 126px);
        background-color: #ffffff70;
    }
    .ArtifactShowBox::-webkit-scrollbar{
        display: none;
    }
    .demo-container{
        margin-left: 0 !important;
        width: calc(100% - 320px) !important;
    }
}
.upgradeCheat{
    display: inline-block;
    position: absolute;
    right: 5px;
}
footer{
    position: fixed !important;
    background-color: #d2cab0;
    width: 100%;
    height: 70px;
    bottom: 0;
}
.buttonBox{
    display: flex;
    margin-top: 15px;
    margin-right: 10px;
    justify-content: flex-end;
}
#start{
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#start-drop{
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#clear{
    border-radius: 25px;
}
#dropdownMenuLink{
    border-radius: 25px;
}

#score,#score-2{
    background-color: #fed323;
    float: right;
    margin-top: -4px;
}
.selectBox{
    width: 160px;
    position: relative;
}

/* ArtifactShow */
.ArtifactShow{
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 315px;
}
.ArtifactShow .aTitle{
    height: 30px;
    color: #fff;
    line-height: 30px;
    padding-left: 18px;
    background-color: #BC6832;
}
.ArtifactShow .titleLine{
    position: absolute;
    z-index: 2;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    width: 296px;
    height: 26px;
    border: solid 2px rgba(144,82,41,0.7);
}
.ArtifactShow .aHead{
    position: relative;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    height: 135px;
    padding: 9px 18px;
    background-image: linear-gradient(to bottom right,#6A5453,#E4AB52);
}
.ArtifactShow .aHead .mainEntry{
    position: absolute;
    top: 57px;
    left: 18px;
    color: rgb(191,173,166);
}
.ArtifactShow .aHead .levelStar{
    position: absolute;
    left: 18px;
    bottom: 9px;
}
.ArtifactShow .blurLine{
    position: absolute;
    top: 161px;
    height: 4px;
    width: 100%;
    background-color: #000;
    opacity: 0.2;
}
.ArtifactShow .aContent{
    height: 150px;
    font-size: 0.9rem;
    padding: 15px 18px;
    background-color: #ECE5D8;
}
.ArtifactShow .aContent .badge{
    font-size: 0.9rem;
    padding: 3px 6px;
    background-color: rgb(57,68,79) !important;
}
.ArtifactShow .aContent ul{
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
}
.ArtifactShow .aContent ul li{
    font-weight: bold;
    margin-bottom: 1px;
    color: rgb(76,86,104);
}

#offcanArtifactShow{
    background-color: rgb(243, 239, 225);
}